# ================================================================
#                FDB-SYSTEM PERMISSIONS & ACES
# ================================================================

# --- Principais Grupos ---
add_ace group.admin command allow # Permite todos os comandos para administradores
add_ace group.admin command.quit deny # Bloqueia o comando quit no servidor para admins

# --- Atribuição de Administradores ---
# add_principal identifier.fivem:123456 group.admin
# add_principal identifier.license:xxxxxx group.admin
